body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    background-color: #f2f2f2;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
}
